
:root {
    --destaque: #00B1FD;
    --texto: #F2F2DD;
    --white: #ffffff;
    --fundo-header: #407BFF;
    --fundo_card: #4A7EF3;
    --texto-cinza: #676565;
}

.entrada {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1366px;
    height: 650px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.entrada-url {
    font-family: 'Archivo', sans-serif;
    outline: unset;
    border: solid 1px var(--fundo-header);    
    font-size: 16px;
    padding: 1em; 
    width: 390px;
    height: 45px;
    border-radius: 4px 0px 0px 4px;
}

.iniciar {
    background-color: #2966DD;
    font-size: 1em;
    color: #F2F2DD;
    height:45px;
    width: 90px;
    padding: 6px;
    border: solid 1px var(--fundo-header);
    border-radius: 0px 4px 4px 0px;
}

@media (max-width: 420px) {
    .entrada {
        width: 390px;
        height: 650px;
    }
    .entrada-url {
        width: 280px;
        height: 35px;
    }
    .iniciar {
        font-size: 14px;
        width: 50px;
        height: 35px;
    }
}
